[submodule "source/serializeJSON"]
	path = source/serializeJSON
	url = https://github.com/jstonne/jquery.fn.serializeJSON.git
[submodule "source/isDeferred"]
	path = source/isDeferred
	url = https://github.com/jstonne/jquery.isDeferred.git
[submodule "source/uid"]
	path = source/uid
	url = https://github.com/jstonne/jquery.uid.git
[submodule "source/distinct"]
	path = source/distinct
	url = https://github.com/jstonne/jquery.distinct.git
[submodule "source/trimSeparators"]
	path = source/trimSeparators
	url = https://github.com/jstonne/jquery.trimSeparators.git
[submodule "source/number"]
	path = source/number
	url = https://github.com/jstonne/jquery.number.git
