[submodule "source/serializeJSON"]
	path = source/serializeJSON
	url = https://github.com/jstonne/jquery.fn.serializeJSON.git
[submodule "source/isDeferred"]
	path = source/isDeferred
	url = https://github.com/jstonne/jquery.isDeferred.git
[submodule "source/uid"]
	path = source/uid
	url = https://github.com/jstonne/jquery.uid.git
[submodule "source/distinct"]
	path = source/distinct
	url = https://github.com/jstonne/jquery.distinct.git
[submodule "source/trimSeparators"]
	path = source/trimSeparators
	url = https://github.com/jstonne/jquery.trimSeparators.git
[submodule "source/number"]
	path = source/number
	url = https://github.com/jstonne/jquery.number.git
[submodule "source/stretchToFit"]
	path = source/stretchToFit
	url = https://github.com/jstonne/jquery.stretchToFit
[submodule "source/toHTML"]
	path = source/toHTML
	url = https://github.com/jstonne/jquery.toHTML.git
[submodule "source/bloop"]
	path = source/bloop
	url = git://github.com/jstonne/jquery.Bloop.git
[submodule "source/deletes"]
	path = source/deletes
	url = git://github.com/jstonne/jquery.deletes.git
[submodule "source/threads"]
	path = source/threads
	url = git://github.com/jstonne/jquery.Threads.git
[submodule "source/enqueue"]
	path = source/enqueue
	url = git://github.com/jstonne/jquery.Enqueue.git
[submodule "source/eventable"]
	path = source/eventable
	url = git://github.com/jstonne/jquery.eventable.git
[submodule "source/remap"]
	path = source/remap
	url = git://github.com/jstonne/jquery.remap.git
